<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">


    <application
        android:allowBackup="true"
        android:icon="@drawable/imagen"
        android:label="InventariarTe"
        android:roundIcon="@drawable/imagen"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".Datosqr"
            android:exported="false" />
        <activity
            android:name=".Android_7"
            android:exported="false" />
        <activity
            android:name=".Android_6"
            android:exported="false" />
        <activity
            android:name=".Android_5"
            android:exported="false" />
        <activity
            android:name=".Android_4"
            android:exported="false" />
        <activity
            android:name=".Android_3"
            android:exported="false" />
        <activity
            android:name=".PantallaDeCarga"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Android_2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAUL" />
            </intent-filter>
        </activity>
    </application>

</manifest>